
{% extends 'gtemplate.html' %}
    {% load static %}
    {% block content %}
        <section>
            <div class="home-image" style="background-image: url({% static 'img/bg/6.jpg' %});">
            <div class="overlay"></div>
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-sm-12 text-center" id="home-text">
                        <h1 class="mb-3">DtechAgric</h1>
                        <h2 class="subheading">meeting your requirements, exceeding your expectations</h2>
                    </div>

                </div>
            </div>
            
        </section>

        <section class=" bg-light" >
            <div class="container welcome px-4">
                <div class=" row py-5">
                    <div class="col-lg-6">
                        <h1> WELCOME TO DTECHAGRIC </h1>
                        <p class="py-1 text-muted" >
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis molestias minima fugiat, soluta voluptate repellat! Corrupti, nobis necessitatibus similique dolor impedit blanditiis labore nam quibusdam deserunt ad! Deserunt, debitis iure?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nisi suscipit officia. Iure, quasi. Eveniet asperiores placeat fuga, sit officiis incidunt architecto esse quibusdam pariatur commodi non, sed, accusantium aliquid.
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, quibusdam repellat! Cupiditate recusandae quam at illum, unde sunt quod dolores eaque odit. Alias ducimus doloremque nihil voluptatum sed culpa veniam.
                            Lorem ipsum dolor sit amet, conlam dolores itaque non exercitationem optio quasi enim, sit expedita iste odio.
                        </p>
                    </div>
                    <img class="col-lg-6" src="{% static 'img/bg/13.jpg' %}" alt="" height="350px" >  
                </div>
            </div>
        </section>

        <section class="daily-update container mt-5 p-3 px-4">
            <h1 class="mb-5 text-center" >Daily Update</h1>
            <div class="home-image " style="background-image: url({% static 'img/bg/7.jpg' %}); height:450px;">
            <div class="overlay"></div>
                    <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
    
                        <div class="col-sm-12 text-center" id="home-text" style="margin-top: 4%;">
                            <h2 class="mb-2">DtechAgric</h2>
                            <h3 class="subheading">recieve daily update on prices of agricultural comodity both locally and internationaly</h3>
                        </div>
    
    
                    </div>
            </div>
        </section>

        <section class="services bg-light" id="services">
            <div class="container text-center mt-5 p-4">
                <h1 class="subheading">Our Services</h1>
                <p class="mb-5 text-muted" > this are the services we offer to our users</p>
                <div class="row mt-3">
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <img  style="height:220px;" src="{% static 'img/bg/3.jpg' %}" class="card-img-top img-fluid" alt="">
                        </div>
                        
                        <div class="card-body">
                            <a href="#"><h5 class="card-title">B3B FROM FAMMERS TO WHOLESALERS</h5></a>
                            <p class="card-text">
                                Buy agricultural produce directly from the fammers in bulk for wholesale
                            </p>
                        </div>
                        
        
                    </div>
                    <div class="col-lg-3 col-md-6 ">
                        <div class="card">
                            <img  style="height:220px;" src="{% static 'img/bg/3.jpg' %}" class="card-img-top" alt="">
                        </div>
                        
                        <div class="card-body">
                            <a href="#"><h5 class="card-title">B2B SMALL BUSINESSES TO CONSUMER</h5></a>
                            <p class="card-text">
                                Buy agricultural produce directly from the fammers in bulk for wholesale
                            </p>
                        </div>
                        
            
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <img  style="height:220px;" src="{% static 'img/bg/3.jpg' %}" class="card-img-top" alt="">
                        </div>
                        
                        <div class="card-body">
                            <a href="#"><h5 class="card-title">RENT A STORAGE FACILITY</h5></a>
                            <p class="card-text">
                                Buy agricultural produce directly from the fammers in bulk for wholesale
                            </p>
                        </div>
                        
            
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <img  style="height:220px;" src="{% static 'img/bg/3.jpg' %}" class="card-img-top" alt="">
                        </div>
                    
                        <div class="card-body">
                            <a href="#"><h5 class="card-title">NEED A LOAN?</h5></a>
                            <p class="card-text">
                                Buy agricultural produce directly from the fammers in bulk for wholesale
                            </p>
                        </div>                 
                    </div>
                </div>
            </div>
        </section>


        <section class="about-us container p-4" id="about">  
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <span class="subheading" style="font-size:45px;">About Us</span>
                    <p class="text-muted" >a brief about us</p>
                </div>
                <p class="py-3 text-muted">
                    DTECH SUPPORT SERVICE has a robust and experienced workforce in engineering, construction, procurement and quality installation.
                    We deliver quality projects in Nigeria and the West African sub-region. Today, Dtech support services has evolved into a promising company with enourmus potential.<br>
                    At DTECH, we work with our customers to provide turnkey services in <em>Global marine, Oilfield Procurement, Manpower Supply, Security Services, Automotion, Energy, Aviation Services etc.</em>   
                    With a phone call or e-mail you can have access to unrivalled services, with the strength of specialist procurement personnel.<br> We pride ourselves in meeting your requirements and exceeding your expectaions.
                    We are commited to <em> Quality, Health, Safty and Good environmental policies.</em>
                </p>
            </div>

            <div class="row justify-content-center" style="margin-top:-4em;">
                <div class="col-md-5 text-white p-4 Philosophy">
                    <h3 class="text-white text-center" >Company Philosophy</h3>
                    <br>
                    <p>
                        We view the satisfaction of our customers as the fundamental drive of our service so that we make every effort to provide high quality,
                        competitive and innovative solutions to meet and exceed their requirements and expectaions for quality.
                    </p>
                </div>
                <div class="col-md-5 text-white p-4 offset-md-1 mission">
                    <h3 class="text-white text-center" >Mission Statement</h3>
                    <br>
                    <p>
                        To be the leading African technical service provider that can be trusted by every household by delivering value that are affordable and reliable without compromising quality using the most effective
                        tool based on a thourough understanding of our customer needs and requirements. 
                    </p>
                </div>
                <span class="my-3">for more about us please visit <a class="text-muted" href="http://'dtechsupportservices/about.html'"> Dtech Support Services -About Us</a> </span>
            </div>
            
        </section>


        <section class="contact bg-light p-4" id="contact">
            <div class="container contact- pb-5">
                <div class="row justify-content-center mb-5 pb-3">
                    <div class="col-md-7 heading-section ftco-animate text-center">
                        <span class="subheading" style="font-size:45px;">Contact Us</span>
                        <p class="text-muted" >  for questions and inquiries please contact us.</p>
                    </div>
                </div>
                <div class="row d-flex mb-5 text-muted ">
                    <div class="col-md-3 d-flex">
                        <div class="info bg-white p-4">
                            <p><span><b>(operational HQ):</b> </span> 18B, Chris Ali Crescent, Abacha Estate Ikoyi Lagos, Nigeria.</p>
                            <p><span> <b> Address:</b> </span>  Plot 3, Block C Ateniwijo Layout, Ayepe New Ife Road Ibadan, Nigeria.</p>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex">
                        <div class="info bg-white p-4">
                            <p><span> <b> Phone:</b></span> +234 817 778 6388 </p>
                            <p><span> <b> Phone:</b></span> +234 816 526 2928</p>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex">
                        <div class="info bg-white p-4">
                            <p> <b><span>Email:</span></b> coming soon</p>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex">
                        <div class="info bg-white p-4">
                            <p><b><span>Website</span> </b><a class="text-muted" href="http://www.dtechsupportservice.com">dtechsupportservice.com</a></p>
                        </div>
                    </div>
                </div>
                <span class="my-2 text-muted">To send your questions and for more infomation please visit the Contact Us page on our parent site <a href="http://'dtechsupportservices/contact.html'"> Dtech Support Services - Contact Us</a> </span>
            </div>
        </section>
        

    {% endblock %}

</html>